body, html {
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

header nav, h1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

header nav ul li{
    margin-right: 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    cursor: pointer;
}

.hero {
    width: 100%;
    height: 70vh;
    background-color: white;
}

.hero-image {
    width: 100%;
    height: 100%;
    background-image: url('./images/hero-image.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
    font-size: 3rem;
}

.card {
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-content {
    width: 45%;
}

.card-image {
    width: 45%;
    height: 90%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card-title {
    font-size: 1.5rem;
}

.card-description {
    font-size: 1rem;
}

#sikes-card-image {
    background-image: url('./images/Sikes.png');
}

#pww-card-image {
    background-image: url('./images/PWW.png');
}

#homewood-card-image {
    background-image: url('./images/Homewood.jpeg');
}

#rc3-card-image {
    background-image: url('./images/RC3.jpeg');
}

#dominican-card-image {
    background-image: url('./images/DU.jpeg');
}

#cssi-card-image {
    background-image: url('./images/CSSI.png');
}

#mta-card-image {
    background-image: url('./images/MTA.png');
}

#shopify-card-image {
    background-image: url('./images/Shopify.png');
}

#pww-2-card-image {
    background-image: url('./images/PWW.png');
}

#sikes-2-card-image {
    background-image: url('./images/Sikes.png');
}

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
}

.footer-button {
    width: 150px;
    margin: 1rem;
}

.button {
    display: block;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 100%;
    padding: .75rem;
    border: 1px solid black;
    border-radius: 25px;
}

.button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

@media only screen and (max-width: 700px) {
    .hero {
        height: 200px;
    }
    .hero-image {
        background-position: top center;
    }
}