html {
    scroll-behavior: smooth;
}

header{

    display: inline-block;
    text-align: center;
    position: fixed;

}

header h1{

    display: inline-block;
    float: left;
    margin-left: 20px;

}

body{

    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from{

        opacity: 0;

    }
    to{

        opacity: 1;

    }
}

#hero-container{

    text-align: center;
    width: 100%;

}

.container {
    margin: auto;
    width: 70%;
    align-self: center;
}

a{

    text-decoration: none;
    color: black;

}

h1{

    font-size: 5vh;

}

h2{

    font-size: 4vh;

}

h3{

    font-size: 3vh;
    color: darkgrey;

}

h3 a{

    font-size: 3vh;
    color: grey;

}

a:hover{

    text-decoration: underline;

}


header{

    text-align: center;
    align-self: center;
    width: 100%;
    margin: 0px;
    background-color: black;
    color: white;
    overflow: hidden;

}

header nav{

    width: auto;
    display: inline-block;
    float: right;
    margin-top: 25px;
    margin-right: 25px;

}

header ul{

    align-self: center;
    text-align: center;

}

header ul li{

    display: inline;
    align-self: center;
    padding: 10px;

}

header ul li a{

    color: white;
    text-decoration: none;
    font-size: large;

}

header ul li a:hover{

    text-decoration: none;
    text-shadow: 0px 0px 8px white;

}

ul{

    list-style-type: none;

}

.card{

    text-align: center;

}

main{

    text-align: center;
    width:100%;

}

main ul li{

    padding-bottom: 100px;

}

.card img{
    
    width: 15vw;
    height: auto;
    float: left;
    
}

.card section{

    margin: auto;
    text-align: left;
    width: 50%;

}

section{

    text-align: center;

}

button{

    background-color: white;
    color: black;
    font-size: large;
    padding: 15px 40px;
    border-radius: 25px;
    border: 2px solid black;

}

button:hover{

    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid black;

}

.content {
    margin: auto;
    justify-content: center;
}

footer{

    text-align: center;
    margin: 15px;

}

#contact-button {

    margin-bottom: 20px;

}

img{

    width: 83%;
    height: auto;

}