header{

    display: inline-block;
    text-align: center;

}

body{

    width: 100%;
    height: 100vh;
}

.container {
    margin: auto;
    width: 70%;
    align-self: center;
}

a{

    text-decoration: none;
    color: black;

}

h1{

    font-size: 5vh;

}

h2{

    font-size: 4vh;

}

h3{

    font-size: 3vh;
    color: darkgrey;

}

h3 a{

    font-size: 3vh;
    color: grey;

}

a:hover{

    text-decoration: underline;

}


header{

    text-align: center;
    align-self: center;
    width: 100%;
    margin: 0px;
    background-color: black;
    color: white;
    overflow: hidden;

}

header nav{

    width: auto;

}

header ul{

    align-self: center;
    text-align: center;

}

header ul li{

    display: inline;
    align-self: center;
    padding: 10px;

}

header ul li a{

    color: white;
    text-decoration: none;

}

header ul li a:hover{

    color: red;

}

ul{

    list-style-type: none;

}

#active{

    text-decoration: underline red;

}

.card{

    text-align: center;

}

main ul li{

    padding-bottom: 100px;

}

.card img{
    
    width: 15vw;
    height: auto;
    float: left;
    
}

.card section{

    margin: auto;
    text-align: left;
    width: 40%;
    transform: skewY(30);

}

article{

    text-align: center;

}

button{

    background-color: white;
    color: black;
    padding: 15px 40px;
    border-radius: 25px;

}

button:hover{

    cursor: pointer;
    background-color: black;
    color: white;

}

.content {
    margin: auto;
    justify-content: center;
}

footer{

    text-align: center;
    margin: 15px;

}


