header{

    display: inline-block;
    text-align: center;

}

body{

    text-align: center;

}

header h1{

    display: inline;

}

header ul li{

    display: inline;

}

header ul li a{

    color: black;
    text-decoration: none;

}

header ul li a:hover{

    color: red;

}

ul{

    list-style-type: none;

}

#active{

    text-decoration: underline red;

}

.card{

    text-align: center;

}

main ul li{

    padding-bottom: 100px;

}

.card img{
    
    width: 18%;
    height: auto;
    float: left;
    
}

.card section{

    margin: auto;
    text-align: left;
    width: 40%;
    transform: skewY(30);

}

article{

    text-align: center;

}